.html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ededed;
}

.container {
    max-width: 900px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 1px 1px 20px 0px rgba(66, 68, 90, 1);
}

.main {
    display: block;
}