.html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 900px;
    padding: 20px;
    margin: auto;
}

.main {
    display: block;
}